.container {
  background: #000;
  height: 100%;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* 代码雨canvas */
  .bg-animate {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  /* 头部 */
  .header-menu {
    background: rgba(255, 255, 255, 0.08);
    flex-shrink: 0;
    display: flex;
    padding: 0 16px;
    :deep(.log-btn) {
      color: rgba($color-white, 0.85);
      &:hover {
        color: $color-white;
        background: rgba(255, 255, 255, 0.12);
      }
    }
  }
  /* 主体 */
  &-mainly {
    width: 80vw;
    min-width: 1200px;
    margin: 16px auto;
  }
}
