// 全局样式
@import "cssMixin";
@import "public";
@import "../animations/animations";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: dVar('pageTextColor');
  height: 100%;
  width: 100%;
  background: #f9f9f9;
}

// 定义全局变量
html {
  &, [data-theme="light"] {
    @each $k in map-keys($dVariables) {
      --d-#{$k}: #{nth(map-get($dVariables, $k), 1)};
    }
  }
  &.dark, [data-theme="dark"] {
    @each $k in map-keys($dVariables) {
      $i: 2;
      @if(length(map-get($dVariables, $k)) < 2) {
        $i: 1;
      }
      --d-#{$k}: #{nth(map-get($dVariables, $k), $i)};
    }
  }
}
